<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.mapper.ChangableMapper" >
  <resultMap id="BaseResultMap" type="com.graduation.pojo.Changable" >
    <id column="changeid" property="changeid" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="olddept" property="olddept" jdbcType="VARCHAR" />
    <result column="newdept" property="newdept" jdbcType="VARCHAR" />
    <result column="oldposition" property="oldposition" jdbcType="VARCHAR" />
    <result column="newposition" property="newposition" jdbcType="VARCHAR" />
    <result column="changetime" property="changetime" jdbcType="DATE" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="isdeleted" property="isdeleted" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createperson" property="createperson" jdbcType="VARCHAR" />
    <result column="temp1" property="temp1" jdbcType="VARCHAR" />
    <result column="temp2" property="temp2" jdbcType="VARCHAR" />
    <result column="temp3" property="temp3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    changeid, memberid, name, olddept, newdept, oldposition, newposition, changetime, 
    reason, isdeleted, createtime, createperson, temp1, temp2, temp3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduation.pojo.ChangableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from changable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from changable
    where changeid = #{changeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from changable
    where changeid = #{changeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduation.pojo.ChangableExample" >
    delete from changable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduation.pojo.Changable" >
    insert into changable (changeid, memberid, name, 
      olddept, newdept, oldposition, 
      newposition, changetime, reason, 
      isdeleted, createtime, createperson, 
      temp1, temp2, temp3
      )
    values (#{changeid,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{olddept,jdbcType=VARCHAR}, #{newdept,jdbcType=VARCHAR}, #{oldposition,jdbcType=VARCHAR}, 
      #{newposition,jdbcType=VARCHAR}, #{changetime,jdbcType=DATE}, #{reason,jdbcType=VARCHAR}, 
      #{isdeleted,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createperson,jdbcType=VARCHAR}, 
      #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.pojo.Changable" >
    insert into changable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="changeid != null" >
        changeid,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="olddept != null" >
        olddept,
      </if>
      <if test="newdept != null" >
        newdept,
      </if>
      <if test="oldposition != null" >
        oldposition,
      </if>
      <if test="newposition != null" >
        newposition,
      </if>
      <if test="changetime != null" >
        changetime,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="isdeleted != null" >
        isdeleted,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createperson != null" >
        createperson,
      </if>
      <if test="temp1 != null" >
        temp1,
      </if>
      <if test="temp2 != null" >
        temp2,
      </if>
      <if test="temp3 != null" >
        temp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="changeid != null" >
        #{changeid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="olddept != null" >
        #{olddept,jdbcType=VARCHAR},
      </if>
      <if test="newdept != null" >
        #{newdept,jdbcType=VARCHAR},
      </if>
      <if test="oldposition != null" >
        #{oldposition,jdbcType=VARCHAR},
      </if>
      <if test="newposition != null" >
        #{newposition,jdbcType=VARCHAR},
      </if>
      <if test="changetime != null" >
        #{changetime,jdbcType=DATE},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null" >
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        #{temp3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduation.pojo.ChangableExample" resultType="java.lang.Integer" >
    select count(*) from changable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update changable
    <set >
      <if test="record.changeid != null" >
        changeid = #{record.changeid,jdbcType=INTEGER},
      </if>
      <if test="record.memberid != null" >
        memberid = #{record.memberid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.olddept != null" >
        olddept = #{record.olddept,jdbcType=VARCHAR},
      </if>
      <if test="record.newdept != null" >
        newdept = #{record.newdept,jdbcType=VARCHAR},
      </if>
      <if test="record.oldposition != null" >
        oldposition = #{record.oldposition,jdbcType=VARCHAR},
      </if>
      <if test="record.newposition != null" >
        newposition = #{record.newposition,jdbcType=VARCHAR},
      </if>
      <if test="record.changetime != null" >
        changetime = #{record.changetime,jdbcType=DATE},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.isdeleted != null" >
        isdeleted = #{record.isdeleted,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createperson != null" >
        createperson = #{record.createperson,jdbcType=VARCHAR},
      </if>
      <if test="record.temp1 != null" >
        temp1 = #{record.temp1,jdbcType=VARCHAR},
      </if>
      <if test="record.temp2 != null" >
        temp2 = #{record.temp2,jdbcType=VARCHAR},
      </if>
      <if test="record.temp3 != null" >
        temp3 = #{record.temp3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update changable
    set changeid = #{record.changeid,jdbcType=INTEGER},
      memberid = #{record.memberid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      olddept = #{record.olddept,jdbcType=VARCHAR},
      newdept = #{record.newdept,jdbcType=VARCHAR},
      oldposition = #{record.oldposition,jdbcType=VARCHAR},
      newposition = #{record.newposition,jdbcType=VARCHAR},
      changetime = #{record.changetime,jdbcType=DATE},
      reason = #{record.reason,jdbcType=VARCHAR},
      isdeleted = #{record.isdeleted,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      createperson = #{record.createperson,jdbcType=VARCHAR},
      temp1 = #{record.temp1,jdbcType=VARCHAR},
      temp2 = #{record.temp2,jdbcType=VARCHAR},
      temp3 = #{record.temp3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.pojo.Changable" >
    update changable
    <set >
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="olddept != null" >
        olddept = #{olddept,jdbcType=VARCHAR},
      </if>
      <if test="newdept != null" >
        newdept = #{newdept,jdbcType=VARCHAR},
      </if>
      <if test="oldposition != null" >
        oldposition = #{oldposition,jdbcType=VARCHAR},
      </if>
      <if test="newposition != null" >
        newposition = #{newposition,jdbcType=VARCHAR},
      </if>
      <if test="changetime != null" >
        changetime = #{changetime,jdbcType=DATE},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        isdeleted = #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        createperson = #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null" >
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where changeid = #{changeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.pojo.Changable" >
    update changable
    set memberid = #{memberid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      olddept = #{olddept,jdbcType=VARCHAR},
      newdept = #{newdept,jdbcType=VARCHAR},
      oldposition = #{oldposition,jdbcType=VARCHAR},
      newposition = #{newposition,jdbcType=VARCHAR},
      changetime = #{changetime,jdbcType=DATE},
      reason = #{reason,jdbcType=VARCHAR},
      isdeleted = #{isdeleted,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createperson = #{createperson,jdbcType=VARCHAR},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR}
    where changeid = #{changeid,jdbcType=INTEGER}
  </update>
  <select id="pageSelect" parameterType="map" resultMap="BaseResultMap">
      select * from changable 
       <if test="id != null" >
       where changeid=#{id,jdbcType=INTEGER} 
       </if>
       <if test="sort != null">
       order by #{sort,jdbcType=VARCHAR} #{order,jdbcType=VARCHAR} limit #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
       </if>
       <if test="sort == null">
       order by changeid desc limit #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
       </if>
  </select>
</mapper>