<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.mapper.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.graduation.pojo.Plan" >
    <id column="planid" property="planid" jdbcType="INTEGER" />
    <result column="planname" property="planname" jdbcType="VARCHAR" />
    <result column="plancontent" property="plancontent" jdbcType="VARCHAR" />
    <result column="planmotive" property="planmotive" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="DATE" />
    <result column="endtime" property="endtime" jdbcType="DATE" />
    <result column="beforetime" property="beforetime" jdbcType="VARCHAR" />
    <result column="aftertime" property="aftertime" jdbcType="VARCHAR" />
    <result column="whereplace" property="whereplace" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="people" property="people" jdbcType="VARCHAR" />
    <result column="isdeleted" property="isdeleted" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createperson" property="createperson" jdbcType="VARCHAR" />
    <result column="temp1" property="temp1" jdbcType="VARCHAR" />
    <result column="temp2" property="temp2" jdbcType="VARCHAR" />
    <result column="temp3" property="temp3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    planid, planname, plancontent, planmotive, starttime, endtime, beforetime, aftertime, 
    whereplace, teacher, data, people, isdeleted, createtime, createperson, temp1, temp2, 
    temp3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduation.pojo.PlanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plan
    where planid = #{planid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plan
    where planid = #{planid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduation.pojo.PlanExample" >
    delete from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduation.pojo.Plan" >
    insert into plan (planid, planname, plancontent, 
      planmotive, starttime, endtime, 
      beforetime, aftertime, whereplace, 
      teacher, data, people, 
      isdeleted, createtime, createperson, 
      temp1, temp2, temp3
      )
    values (#{planid,jdbcType=INTEGER}, #{planname,jdbcType=VARCHAR}, #{plancontent,jdbcType=VARCHAR}, 
      #{planmotive,jdbcType=VARCHAR}, #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, 
      #{beforetime,jdbcType=VARCHAR}, #{aftertime,jdbcType=VARCHAR}, #{whereplace,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR}, #{people,jdbcType=VARCHAR}, 
      #{isdeleted,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createperson,jdbcType=VARCHAR}, 
      #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, #{temp3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduation.pojo.Plan" >
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planid != null" >
        planid,
      </if>
      <if test="planname != null" >
        planname,
      </if>
      <if test="plancontent != null" >
        plancontent,
      </if>
      <if test="planmotive != null" >
        planmotive,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="beforetime != null" >
        beforetime,
      </if>
      <if test="aftertime != null" >
        aftertime,
      </if>
      <if test="whereplace != null" >
        whereplace,
      </if>
      <if test="teacher != null" >
        teacher,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="people != null" >
        people,
      </if>
      <if test="isdeleted != null" >
        isdeleted,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createperson != null" >
        createperson,
      </if>
      <if test="temp1 != null" >
        temp1,
      </if>
      <if test="temp2 != null" >
        temp2,
      </if>
      <if test="temp3 != null" >
        temp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planid != null" >
        #{planid,jdbcType=INTEGER},
      </if>
      <if test="planname != null" >
        #{planname,jdbcType=VARCHAR},
      </if>
      <if test="plancontent != null" >
        #{plancontent,jdbcType=VARCHAR},
      </if>
      <if test="planmotive != null" >
        #{planmotive,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=DATE},
      </if>
      <if test="beforetime != null" >
        #{beforetime,jdbcType=VARCHAR},
      </if>
      <if test="aftertime != null" >
        #{aftertime,jdbcType=VARCHAR},
      </if>
      <if test="whereplace != null" >
        #{whereplace,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="people != null" >
        #{people,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null" >
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        #{temp3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduation.pojo.PlanExample" resultType="java.lang.Integer" >
    select count(*) from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plan
    <set >
      <if test="record.planid != null" >
        planid = #{record.planid,jdbcType=INTEGER},
      </if>
      <if test="record.planname != null" >
        planname = #{record.planname,jdbcType=VARCHAR},
      </if>
      <if test="record.plancontent != null" >
        plancontent = #{record.plancontent,jdbcType=VARCHAR},
      </if>
      <if test="record.planmotive != null" >
        planmotive = #{record.planmotive,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        starttime = #{record.starttime,jdbcType=DATE},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=DATE},
      </if>
      <if test="record.beforetime != null" >
        beforetime = #{record.beforetime,jdbcType=VARCHAR},
      </if>
      <if test="record.aftertime != null" >
        aftertime = #{record.aftertime,jdbcType=VARCHAR},
      </if>
      <if test="record.whereplace != null" >
        whereplace = #{record.whereplace,jdbcType=VARCHAR},
      </if>
      <if test="record.teacher != null" >
        teacher = #{record.teacher,jdbcType=VARCHAR},
      </if>
      <if test="record.data != null" >
        data = #{record.data,jdbcType=VARCHAR},
      </if>
      <if test="record.people != null" >
        people = #{record.people,jdbcType=VARCHAR},
      </if>
      <if test="record.isdeleted != null" >
        isdeleted = #{record.isdeleted,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createperson != null" >
        createperson = #{record.createperson,jdbcType=VARCHAR},
      </if>
      <if test="record.temp1 != null" >
        temp1 = #{record.temp1,jdbcType=VARCHAR},
      </if>
      <if test="record.temp2 != null" >
        temp2 = #{record.temp2,jdbcType=VARCHAR},
      </if>
      <if test="record.temp3 != null" >
        temp3 = #{record.temp3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plan
    set planid = #{record.planid,jdbcType=INTEGER},
      planname = #{record.planname,jdbcType=VARCHAR},
      plancontent = #{record.plancontent,jdbcType=VARCHAR},
      planmotive = #{record.planmotive,jdbcType=VARCHAR},
      starttime = #{record.starttime,jdbcType=DATE},
      endtime = #{record.endtime,jdbcType=DATE},
      beforetime = #{record.beforetime,jdbcType=VARCHAR},
      aftertime = #{record.aftertime,jdbcType=VARCHAR},
      whereplace = #{record.whereplace,jdbcType=VARCHAR},
      teacher = #{record.teacher,jdbcType=VARCHAR},
      data = #{record.data,jdbcType=VARCHAR},
      people = #{record.people,jdbcType=VARCHAR},
      isdeleted = #{record.isdeleted,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      createperson = #{record.createperson,jdbcType=VARCHAR},
      temp1 = #{record.temp1,jdbcType=VARCHAR},
      temp2 = #{record.temp2,jdbcType=VARCHAR},
      temp3 = #{record.temp3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduation.pojo.Plan" >
    update plan
    <set >
      <if test="planname != null" >
        planname = #{planname,jdbcType=VARCHAR},
      </if>
      <if test="plancontent != null" >
        plancontent = #{plancontent,jdbcType=VARCHAR},
      </if>
      <if test="planmotive != null" >
        planmotive = #{planmotive,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=DATE},
      </if>
      <if test="beforetime != null" >
        beforetime = #{beforetime,jdbcType=VARCHAR},
      </if>
      <if test="aftertime != null" >
        aftertime = #{aftertime,jdbcType=VARCHAR},
      </if>
      <if test="whereplace != null" >
        whereplace = #{whereplace,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null" >
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="people != null" >
        people = #{people,jdbcType=VARCHAR},
      </if>
      <if test="isdeleted != null" >
        isdeleted = #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createperson != null" >
        createperson = #{createperson,jdbcType=VARCHAR},
      </if>
      <if test="temp1 != null" >
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where planid = #{planid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduation.pojo.Plan" >
    update plan
    set planname = #{planname,jdbcType=VARCHAR},
      plancontent = #{plancontent,jdbcType=VARCHAR},
      planmotive = #{planmotive,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=DATE},
      endtime = #{endtime,jdbcType=DATE},
      beforetime = #{beforetime,jdbcType=VARCHAR},
      aftertime = #{aftertime,jdbcType=VARCHAR},
      whereplace = #{whereplace,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      people = #{people,jdbcType=VARCHAR},
      isdeleted = #{isdeleted,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      createperson = #{createperson,jdbcType=VARCHAR},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR}
    where planid = #{planid,jdbcType=INTEGER}
  </update>
  <select id="pageSelect" parameterType="map" resultMap="BaseResultMap">
      select * from plan  
       <if test="id != null" >
       where planid=#{id,jdbcType=INTEGER} 
       </if>
       <if test="sort != null">
       order by #{sort,jdbcType=VARCHAR} #{order,jdbcType=VARCHAR} limit #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
       </if>
       <if test="sort == null">
       order by planid desc limit #{page,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
       </if>
  </select>
</mapper>